@import url(./styles/map_styles.css);
@import url(./styles/nav_foot_styles.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=plus-jakarta-sans@1,2&f[]=zodiak@1,2&display=swap');

:root {
  /* bg colors */
  --bg-primary: #3a3a3a;
  --bg-secondary: #2a2a2a;
  --bg-translucent: #aeaeae80;

  /* text colors */
  --text-primary: #ffffff;
  --text-secondary: #bbbbbb;
  --text-emphasis: #ffffffcc;
  --text-subtext: #ddddddaa;

  /* map + chart colors */
  --hover-color: #ffffff80;
  --land-color: #2a2a2a;
  --land-border: #ffffff;
  --tooltip-bg: #12121280;
  --tooltip-text: #ffffff;
}

body {
  margin: 0;
  max-width: 100%;
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: 'Plus Jakarta Sans', sans-serif;
  /* !NOTE: Jugaad Fix for overflow */
  overflow-x: hidden;
}

::selection,
::-moz-selection {
  background: var(--bg-secondary);
  color: var(--text-subtext);
  text-shadow: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'Zodiak', serif;
  color: var(--text-primary);
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

section#home {
  padding-top: 20%;
}

section>.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 10%;
}

.whitepaper-link {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-emphasis);
  text-decoration: none;
  text-align: center;
}

.whitepaper-link:hover {
  color: var(--text-secondary);
  text-decoration: underline wavy var(--text-secondary) 2px;
  transition: all 0.3s;
}