@import url(./styles/map_styles.css);
@import url(./styles/nav_foot_styles.css);

:root {
  --bg-color: #0b0b0b;
  --land-color: #2a2a2a;
  --nav-bg: #2a2a2ab5;
  --hover-color: #ffffff7b;
  --tooltip-bg: #12121240;
  --tooltip-text: #fff;
}

body {
  margin: 0;
  max-width: 100%;
  background: var(--bg-color);
  color: var(--tooltip-text);
  font-family: "Segoe UI";
  /* !NOTE: Jugaad Fix for overflow */
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

section#home {
  padding-top: 20%;
}

section>.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 10%;
}

.whitepaper-link {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--tooltip-text);
  text-decoration: none;
  text-align: center;
}

.whitepaper-link:hover {
  color: var(--hover-color);
  text-decoration: underline wavy var(--hover-color) 2px;
  transition: all 0.3s;
}