.navbar,
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-bg);
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: fit-content;
    width: 100%;
    z-index: 1000;
}

.navbar {
    top: 0;
    position: fixed;
}

.footer {
    bottom: 0;
    padding: 10px 20px;
    font-size: 0.9rem;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.logo-container {
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-container {
    height: auto;
    width: 125px;
}

.header-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
}

.header-container h1,
.header-container h2 {
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    color: var(--tooltip-text);
}

.nav-links {
    display: flex;
    gap: 30px;
    padding: 5px 20px;
}

.nav-links a {
    color: var(--tooltip-text);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: var(--hover-color);
}